{
    "t1": "/N/u/hayashis/Karst/testdata/108323/anat/t1.nii.gz",
    "dwi": "/N/u/hayashis/Karst/testdata/108323/dwi/dwi.nii.gz",
    "bvecs": "/N/u/hayashis/Karst/testdata/108323/dwi/dwi.bvecs",
    "bvals": "/N/u/hayashis/Karst/testdata/108323/dwi/dwi.bvals",
    "eddyCorrect": "1",
    "phaseEncodeDir": "2",
    "rotateBvecsWithRx": false,
    "rotateBvecsWithCanXform": false,
    "resolution": "default"
}

